#### Import Library

In [1]:
import os
import sys
from tqdm import tqdm
import pandas as pd
import seaborn as sns
import numpy as np
import tensorflow as tf

#### Read Dataset

In [2]:
data_path = '../data/raw/IMDB_dataset.csv'
df = pd.read_csv(data_path)
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
print(df.info())
print
print(df.isnull().sum())
print
print(df['sentiment'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
review       50000 non-null object
sentiment    50000 non-null object
dtypes: object(2)
memory usage: 781.3+ KB
None

review       0
sentiment    0
dtype: int64

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [4]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

#### Preprocessing Text

In [4]:
# Add the scripts folder to the system path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'scripts')))
from preprocess import preprocess_text

# Enable tqdm on pandas
tqdm.pandas()

# Assuming df['review'] is your column to process
df['clean_review'] = df['review'].progress_apply(preprocess_text)

# To print the first processed review
print(df["clean_review"][0])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hrazu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hrazu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hrazu\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
  0%|          | 2/50000 [00:01<9:09:58,  1.52it/s]c:\Users\hrazu\anaconda3\envs\nao_env\lib\site-packages\emoji\core.py:72: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  val = codes_dict.get(match.group(0), match.group(0))
100%|██████████| 50000/50000 [05:48<00:00, 143.50it/s]

one review mention watch 1 oz episod youll hook right exactli happen meth first thing struck oz brutal unflinch scene violenc set right word go trust show faint heart timid show pull punch regard drug sex violenc hardcor classic use wordit call oz nicknam given oswald maximum secur state penitentari focus mainli emerald citi experiment section prison cell glass front face inward privaci high agenda em citi home manyaryan muslim gangsta latino christian italian irish moreso scuffl death stare dodgi deal shadi agreement never far awayi would say main appeal show due fact goe show wouldnt dare forget pretti pictur paint mainstream audienc forget charm forget romanceoz doesnt mess around first episod ever saw struck nasti surreal couldnt say readi watch develop tast oz got accustom high level graphic violenc violenc injustic crook guard wholl sold nickel inmat wholl kill order get away well manner middl class inmat turn prison bitch due lack street skill prison experi watch oz may becom comfort uncomfort viewingthat get touch darker side

In [12]:
# Create directory if it doesn't exist
save_path = os.path.join("..", "data", "processed")
if not os.path.exists(save_path):
    os.makedirs(save_path)

# Save the file
try:
    df.to_csv(os.path.join(save_path, "processed_imdb_dataset.csv"), index=False, encoding="utf-8")
    print("✅ File saved successfully.")
except Exception as e:
    print("❌ Error saving file:", e)

✅ File saved successfully.

In [13]:
data_path = '../data/processed/processed_imdb_dataset.csv'
df_processed = pd.read_csv(data_path)
df_processed.head()

,review,sentiment,clean_review
0,One of the other reviewers has mentioned that ...,positive,one review mention watch 1 oz episod youll hoo...
1,A wonderful little production. <br /><br />The...,positive,wonder littl product film techniqu unassum old...
2,I thought this was a wonderful way to spend ti...,positive,thought wonder way spend tear eye hot summer w...
3,Basically there's a family where a little boy ...,negative,basic there famili littl boy jake think there ...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter mattei love tear eye money visual stun ...